---
---
@import "main";

/* Remove code block window dots */
div.highlight::before {
  display: none !important;
}

/* Hide line numbers in code blocks */
.highlight table td:first-child {
  display: none;
}

.highlight table td.rouge-code {
  padding-left: 1.25rem !important;
}

.highlight table {
  border: none;
}